<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .last {
      font-weight: bold;
    }
  </style>
</head>
<body>

  <div class="content">
    <form action="/upload" method="post" enctype="multipart/form-data">
      <p>Kindlegen supports only .opf/.htm/.html/.epub/.xhtml/.zip/directory source files</p>
      <label for="file">Epub file: </label>
      <input type="file" name="file" id="file">
      <button type="submit">Upload</button>
    </form>
    <div class="files">
      <p>Actions: <a href="/clear">Clear list</a></p>
      <br />
      <ul>
        {% for item in files %}
        <li{% if lastfile == item %} class="last"{% endif %}>
          <a href="/{{ item }}">{{ item }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

</body>
</html>